{% extends "base.html" %}
{% block body %}
 
<div class="col-sm-12">
  <div class="row">
      <h3><strong>Postagens - Loja do Maker</strong></h3>
      <a href="/">Inicio</a>
      <a href="/accounts/logout-usuario/">Sair</a>
 
   {% if postagens %}
      <table class="table">
          <thead>
              <tr>
                  <th>Título</th>
                  <th>Autor</th>
                  <th>Data de Publicação</th>
              </tr>
          </thead>
          <tbody>
          {% for p in postagens %}
              <tr>
                  <td>{{ p.titulo }}</td>
                  <td>{{ p.autor }}</td>
                  <td>{{ p.publicado }}</td>
                  <td><a href="/editar/post/{{ p.id }}/"> Editar</a></td>
                  <td><a href="/deletar/{{ p.id }}/"> Excluir</a></td>
                  <td></td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
  {% else %}
      <strong>Você ainda não publicou nenhum Post neste Blog</strong>
  {% endif %}
  <div class='col-sm-10'>
      <a href="/postar/">Postar</a>
  </div>
  </div>
</div>
{% endblock body %}
