{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">   <title>Pagina Inicial</title>
</head>
<body>
    <h1>Projeto - Blog</h1>
    {% block body %}
    {% endblock body %}
   

</body>
</html>